<div class="breadcrumbs">
  <div class="container">
    <ol class="breadcrumb">
      <li><%= link_to "Admin", admin_path %></li>
      <li><%= link_to "Events", admin_events_path %></li>
      <li class="active">Event</li>
    </ol>
  </div>
</div>

<div class="section">
  <div class="container">
    <h3>Event Details</h3>

    <p>
      <strong>Title:</strong>
      <%= @event.title %>
    </p>
     
    <p>
      <strong>Start Time:</strong>
      <%= @event.start_time.strftime("%A, %B %d, %I:%M%p") %>
    </p>

    <p>
      <strong>End Time:</strong>
      <%= @event.end_time.strftime("%A, %B %d, %I:%M%p") %>
    </p>

    <p>
      <strong>Location:</strong>
      <%= @event.location %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @event.description %>
    </p>

    <p>
      <strong>URL:</strong>
      <%= @event.url %>
    </p>

    <%= link_to 'Edit', edit_admin_event_path(@event), { class: "btn btn-default" } %>
  </div>
</div>