<%= form_for [:admin, @officer] do |f| %>
  
  <% if @officer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@officer.errors.count, "error") %> prohibited this officer from being saved:</h2>
      <ul>
        <% @officer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :position %><br>
    <%= f.select :position, ['President', 'VP of Operations', 'VP of Marketing & Finance', 'Project Manager'] %>
  </p>

  <p>
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </p>
 
  <p>
    <%= f.submit :class => "btn btn-default" %>
  </p>
  
<% end %>