<div class="breadcrumbs">
  <div class="container">
    <ol class="breadcrumb">
      <li><%= link_to "Admin", admin_path %></li>
      <li><%= link_to "Officers", admin_officers_path %></li>
      <li class="active">Officer</li>
    </ol>
  </div>
</div>

<div class="section">
  <div class="container">
    <h2>Officer Details</h2>

    <p>
      <strong>Name:</strong>
      <%= @officer.name %>
    </p>
     
    <p>
      <strong>Position:</strong>
      <%= @officer.position %>
    </p>

    <p>
      <strong>Image:</strong>
      <%= image_tag @officer.image.url(:medium) %>
    </p>

    <%= link_to 'Edit', edit_admin_officer_path(@officer), { class: "btn btn-default" } %>
  </div>
</div>