<div class="breadcrumbs">
  <div class="container">
    <ol class="breadcrumb">
      <li><%= link_to "Admin", admin_path %></li>
      <li><%= link_to "Lessons", admin_lessons_path %></li>
      <li class="active">Lesson</li>
    </ol>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Lesson Details</h2>
        <hr>
        <p>
          <strong>Week:</strong>
          <%= @lesson.week %>
        </p>
         
        <p>
          <strong>Date:</strong>
          <%= @lesson.date.strftime("%b %e") %>
        </p>

        <p>
          <strong>Topic:</strong>
          <%= @lesson.topic %>
        </p>
      </div>
      
      <div class="col-md-4">
        <div class="well">
          <h3>Slides</h3>
          <hr>
          <%= render @lesson.lectures %>

          <h4>Add slides:</h4>
          <%= render 'admin/lectures/form' %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="well">
          <h3>Tutorials</h3>
          <hr>
          <%= render @lesson.tutorials %>

          <h4>Add tutorials:</h4>
          <%= render 'admin/tutorials/form' %>
        </div>
      </div>
    </div>

    <%= link_to 'Edit', edit_admin_lesson_path(@lesson), { class: "btn btn-default" } %>
  </div>
</div>