<div class="section">
  <div class="container">
    <h1>Lesson</h1>

    <p>
      <strong>Week:</strong>
      <%= @lesson.week %>
    </p>
     
    <p>
      <strong>Date:</strong>
      <%= @lesson.date.strftime("%b %e") %>
    </p>

    <p>
      <strong>Topic:</strong>
      <%= @lesson.topic %>
    </p>

    <h2>Assignments</h2>
    <%= render @lesson.assignments %>

    <h2>Add a assignment:</h2>
    <%= render 'admin/assignments/form' %>

    <h2>Slides</h2>
    <%= render @lesson.lectures %>

    <h2>Add slides:</h2>
    <%= render 'admin/lectures/form' %>

    <%= link_to 'Back', admin_lessons_path %> | <%= link_to 'Edit', edit_admin_lesson_path(@lesson) %>
  </div>
</div>