<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Lesson Details</h3>
        <hr>
        <p>
          <strong>Week:</strong>
          <%= @lesson.week %>
        </p>
         
        <p>
          <strong>Date:</strong>
          <%= @lesson.date.strftime("%b %e") %>
        </p>

        <p>
          <strong>Topic:</strong>
          <%= @lesson.topic %>
        </p>
      </div>
      
      <div class="col-md-4">
        <h3>Slides</h3>
        <hr>
        <%= render @lesson.lectures %>

        <h4>Add slides:</h4>
        <%= render 'admin/lectures/form' %>
      </div>
      <div class="col-md-4">
        <h3>Tutorials</h3>
        <hr>
        <%= render @lesson.tutorials %>

        <h4>Add tutorials:</h4>
        <%= render 'admin/tutorials/form' %>
      </div>
    </div>

    <%= link_to 'Back', admin_lessons_path %> | <%= link_to 'Edit', edit_admin_lesson_path(@lesson) %>
  </div>
</div>