<div class="devise">
  <div class="container">
    <div class="devise-row">
      <%= image_tag "https://dl.dropboxusercontent.com/u/280319558/images/code-the-change-logo-with-text.png", :class => "img-responsive" %>

      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, :autofocus => true, :class => "form-control" %>
        </div>

        <div><%= f.submit "Send me reset password instructions", :class => "btn btn-default btn-block" %></div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
