<%= form_for [:admin, @project] do |f| %>
  
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
      <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :organization %><br>
    <%= f.text_field :organization %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </p>

  <p>
    <%= f.label :screenshot %><br>
    <%= f.file_field :screenshot %>
  </p>

  <p>
    <%= f.label :term_id %><br>
    <%= f.select :term_id, Term.all.collect { |term| [ term.season + " " + term.year.to_s, term.id ] } %>
  </p>
 
  <p>
    <%= f.submit :class => "btn btn-default" %>
  </p>
  
<% end %>