<h1>Projects</h1>
 
<%= link_to 'New project', new_admin_project_path %>

<table>
  <tr>
    <th>Organization</th>
    <th>Description</th>
    <th>URL</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
  <% @projects.each do |project| %>
    <tr>
      <td><%= project.organization %></td>
      <td><%= project.description %></td>
      <td><%= project.url %></td>
      <td><%= link_to 'Show', admin_project_path(project) %></td>
      <td><%= link_to 'Edit', edit_admin_project_path(project) %></td>
      <td><%= link_to 'Destroy', admin_project_path(project), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>