<div class="breadcrumbs">
  <div class="container">
    <ol class="breadcrumb">
      <li><%= link_to "Admin", admin_path %></li>
      <li class="active">Projects</li>
    </ol>
  </div>
</div>

<div class="section">
  <div class="container">
    <h2>Projects</h2>
     
    <p>
      <%= link_to 'New Project', new_admin_project_path, { class: "btn btn-default" } %>
    </p>

    <table class="table">
      <tr>
        <th>Organization</th>
        <th>Description</th>
        <th>URL</th>
        <th>Image</th>
        <th>Term</th>
        <th>Actions</th>
      </tr>
     
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.organization %></td>
          <td><%= project.description %></td>
          <td><%= project.url %></td>
          <td><%= image_tag project.image.url(:thumbnail) %></td>
          <td><%= Term.find(project.term_id).season + " " + Term.find(project.term_id).year.to_s %></td>
          <td><%= link_to 'Show', admin_project_path(project) %> | 
              <%= link_to 'Edit', edit_admin_project_path(project) %> | 
              <%= link_to 'Destroy', admin_project_path(project), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>