<div class="breadcrumbs">
  <div class="container">
    <ol class="breadcrumb">
      <li><%= link_to "Admin", admin_path %></li>
      <li><%= link_to "Projects", admin_projects_path %></li>
      <li class="active">Project</li>
    </ol>
  </div>
</div>

<div class="section">
  <div class="container">
    <h3>Project Details</h3>

    <p>
      <strong>Organization:</strong>
      <%= @project.organization %>
    </p>
     
    <p>
      <strong>Description:</strong>
      <%= @project.description %>
    </p>

    <p>
      <strong>URL:</strong>
      <%= @project.url %>
    </p>

    <%= link_to 'Back', admin_projects_path %> | <%= link_to 'Edit', edit_admin_project_path(@project) %>
  </div>
</div>