<div class="section">
  <div class="container">
    <h3>Project Details</h3>

    <p>
      <strong>Organization:</strong>
      <%= @project.organization %>
    </p>
     
    <p>
      <strong>Description:</strong>
      <%= @project.description %>
    </p>

    <p>
      <strong>URL:</strong>
      <%= @project.url %>
    </p>

    <%= link_to 'Back', admin_projects_path %> | <%= link_to 'Edit', edit_admin_project_path(@project) %>
  </div>
</div>