<% title "Sponsors" %>
<% description "" %>
<%= stylesheet_link_tag "sponsors" %>

<div class="course">
  <div class="container">
    <div class="row">
        <h1>Sponsorship Packages</h1>
        <P>Thank you for showing interest in becoming a sponsor for Code the Change. Please be sure to 
        <a href="https://www.facebook.com/ctcberkeley">like</a>
        us on Facebook and contact us at 
        <a href="mailto:berkeley@codethechange.org">berkeley@codethechange.org</a>
        if you have any questions about becoming a sponsor.
        </P>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3><span class="label label-default label-bronze">Bronze</span>&nbsp;$250</h3>
            <p>Includes company logo on our sponsor page and resume book.</p>
        </div>
        <div class="col-md-4">
            <h3><span class="label label-default label-silver">Silver</span>&nbsp;$500</h3>
            <p>Includes one on-campus informational session or workshop, company logo on sponsor page, and resume book.</p>
        </div>
        <div class="col-md-4">
            <h3><span class="label label-default label-gold">Gold</span>&nbsp;$1000</h3>
            <p>Includes multiple on-campus informational sessions / workshops / events, company logo on sponsor page, and resume book.</p>
        </div>
    </div>
    <%= form_for @sponsor, url: {action: "create"} do |f| %>
        <%= f.label :name %>
        <br>
        <%= f.text_field :name %>
        <br>
        <%= f.label :company %>
        <br>
        <%= f.text_field :company %>
        <br>
        <%= f.label :package_pref %>
        <br>
        <%= select_tag(:package_pref, options_for_select([['Gold','Gold'],['Silver','Silver'],['Bronze','Bronze']])) %>
        <br>
        <%= f.label :email %>
        <br>
        <%= f.text_field :email %>
        <br>
        <%= f.label :message %>
        <br>
        <%= f.text_area :message, size: "60x12" %>
        <br>
        <br>
        <%= f.submit "Send" %>
    <% end %>
  </div>
</div>

