<% title "About" %>
<% description "Code the Change is an organization that empowers computer scientists to use their technical skills for social good through non-profit projects." %>

<div class="about">
  <div class="container">
    <h2>About Us</h2>
    <div class="row">
      <div class="col-md-7">
        <p>Code the Change is an organization that empowers computer scientists to use their technical skills for social good through non-profit projects.</p>
        <p>The Berkeley chapter consists of two divisions. Our DeCal program is intended for students with less experience in computer science; it offers them a chance to learn web development while working on a project for a nonprofit organization. Our other division is comprised of project teams, which work on more challenging projects for nonprofits. Our members are comprised of Cal students with a passion for both technology and the social sector. We offer a unique opportunity to improve your technical abilities and form meaningful relationships with members who share similar interests.</p>
        <p>To learn more about the Stanford chapter and Code the Change as a national organization, please visit <%= link_to "codethechange.org", "https://codethechange.org/", target: "_blank" %></p>
        <p>If you represent a nonprofit organization and are interested in our technical services, please email us at <%= mail_to "berkeley@codethechange.org" %>.
      </div>
      <div class="col-md-5">
        <%= image_tag "https://dl.dropboxusercontent.com/u/280319558/images/samking-clinton-2012-03-30.jpg", class: "img-thumbnail img-responsive img-about" %>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="officers">
  <div class="container">
    <h2>Officers</h2>
    <ul class="ch-grid">
      <% if @president %>
        <%= render 'pages/officer', :officer => @president %>
      <% end %>
      <% if @vp_of_projects %>
        <%= render 'pages/officer', :officer => @vp_of_projects %>
      <% end %>
      <% if @vp_of_development %>
        <%= render 'pages/officer', :officer => @vp_of_development %>
      <% end %>
      <% if @vp_of_operations %>
        <%= render 'pages/officer', :officer => @vp_of_operations %>
      <% end %>
      <% @project_managers.each do |project_manager| %>
        <%= render 'pages/officer', :officer => project_manager %>
      <% end %>
    </ul>
  </div>
</div>