<% title "Course" %>
<% description "The Code the Change course aims to teach students web technologies by working on real­ world projects with non­profit and social­ sector partners." %>

<div class="course">
  <div class="container">
    <div class="row">
      <div class="col-md-3 hidden-xs hidden-sm">
        <%= x_image_tag("code-the-change-logo-with-text.png", class: "img-responsive") %>
      </div>
      <div class="col-md-9 course-info">
        <h1>Code the Change Course</h1>
        <p>Computer Science 98/198</p>
        <p><%= @term.season + " " + @term.year.to_s %></p>
      </div>
    </div>
  </div>
</div>

<div class="tabs">
  <div class="container">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#schedule" data-toggle="tab">Schedule</a></li>
      <li><a href="#assignments" data-toggle="tab">Assignments</a></li>
      <li><a href="#course-information" data-toggle="tab">Course Information</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="schedule">
        <%= render 'pages/schedule' %>
      </div>
      <div class="tab-pane" id="assignments">
        <%= render 'pages/assignments' %>
      </div>
      <div class="tab-pane" id="course-information">
        <%= render 'pages/course_information' %>
      </div>
    </div>
  </div>
</div>