<% title "Home" %>
<% description "Code the Change helps computer scientists use their skills to make social change an integral part of computer science culture." %>

<div class="hero">
  <div class="container">
    <%= image_tag("code-the-change-logo-with-text.png", class: "img-responsive") %>
    <p class="lead">We help computer scientists use their skills to make social change an integral part of computer science culture.</p>
  </div>
</div>

<div class="callout">
  <div class="container">
    Are you a nonprofit in need of technical help? Please email us a <%= link_to "berkeley@codethechange.org", "mailto:berkeley@codethechange.org" %>
  </div>
</div>

<div class="divisions">
  <div class="container">
    <div class="row division">
      <div class="col-sm-4 col-md-3 col-md-offset-1 hidden-xs">
        <%= image_tag("decal-icon.png", class: "img-responsive img-division") %>
      </div>
      <div class="col-sm-8 col-md-7">
        <h3>DeCal Course</h3>
        <p>This semester, we are introducing a brand new DeCal course for Berkeley students. This course aims to teach students web technologies by working on real-world projects with non-profit and social-sector partners. We hope that this course will attact computer scientists with less experience to contribute their skills to the nonprofit space. If you are interested in taking our DeCal, we encourage you to apply!</p>
        <p><%= link_to 'Apply Now', "https://docs.google.com/forms/d/1QuxlEwwZ7EEO4Q5vI9ZrP0dYbCnQAf1OvKcHw8YN34M/viewform", { class: "btn btn-success" } %></p>
      </div>
    </div>
    <div class="row division">
      <div class="col-sm-8 col-md-7 col-md-offset-1">
        <h3>Projects</h3>
        <p>The Berkeley chapter focuses on forming project teams to assist non-profits in achieving their goals, whether it be through web development or mobile app design. Our project teams offer an opportunity for computer scientists with more experience to work on more robust projects for nonprofit organizations. If you would like to join one of our project teams, please fill out our application!</p>
        <p><%= link_to 'Apply Now', "https://docs.google.com/forms/d/1wuGaPhG3xk83ImtiSG9CGiOp9AjMy89UMfzKdSjDdE0/viewform", { class: "btn btn-success" } %></p>
      </div>
      <div class="col-sm-4 col-md-3 hidden-xs">
        <%= image_tag("projects-icon.png", class: "img-responsive img-division") %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <hr>
</div>

<div class="events">
  <div class="container">
    <h2>Events</h2>
    <h3 class="subheader">Upcoming Events</h3>
    <div class="panel-group ctc-panel-group" id="upcoming-event-accordion">
      <% @upcoming_events.each do |upcoming_event| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#upcoming-event-accordion" href="<%= '#' + upcoming_event.id.to_s %>">
              <h4 class="panel-title"><%= upcoming_event.title %></h4>
              <p><%= upcoming_event.start_time.strftime("%A, %B %d") %> | <%= upcoming_event.start_time.strftime("%I:%M%p") %> to <%= upcoming_event.end_time.strftime("%I:%M%p") %> | <%= upcoming_event.location %></p>
            </a>
          </div>
          <div id="<%= upcoming_event.id %>" class="panel-collapse collapse">
            <div class="panel-body">
              <%= upcoming_event.description %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <h3 class="subheader">Past Events</h3>
    <div class="panel-group ctc-panel-group" id="past-event-accordion">
      <% @past_events.each do |past_event| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#past-event-accordion" href="<%= '#' + past_event.id.to_s %>">
              <h4 class="panel-title"><%= past_event.title %></h4>
              <p><%= past_event.start_time.strftime("%A, %B %d") %> | <%= past_event.start_time.strftime("%I:%M%p") %> to <%= past_event.end_time.strftime("%I:%M%p") %> | <%= past_event.location %></p>
            </a>
          </div>
          <div id="<%= past_event.id %>" class="panel-collapse collapse">
            <div class="panel-body">
              <%= past_event.description %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
