<% title "Home" %>
<% description "Code the Change helps computer scientists use their skills to make social change an integral part of computer science culture." %>

<div class="hero">
  <div class="container">
    <%= image_tag "https://dl.dropboxusercontent.com/u/280319558/images/code-the-change-logo-with-text.png", class: "img-responsive" %>
    <p class="lead">We help computer scientists use their skills to make social change an integral part of computer science culture.</p>
  </div>
</div>

<div class="callout">
  <div class="container">
    Are you a nonprofit organization in need of technical help? Please email us at <%= mail_to "berkeley@codethechange.org" %>
  </div>
</div>

<div class="divisions">
  <div class="container">
    <div class="row division">
      <div class="col-sm-4 col-md-3 col-md-offset-1">
        <%= image_tag "https://dl.dropboxusercontent.com/u/280319558/images/projects-icon.png", class: "img-responsive img-division" %>
      </div>
      <div class="col-sm-8 col-md-7">
        <h3>Projects</h3>
        <p>The Berkeley chapter focuses on forming project teams to assist nonprofits in achieving their goals, whether it be through web development or mobile app design. Our project teams offer an opportunity for computer scientists with more experience to work on more robust projects for nonprofit organizations. If you would like to join one of our project teams, please fill out our application!</p>
      </div>
    </div>
    <div class="row division">
      <div class="visible-xs">
        <%= image_tag "https://dl.dropboxusercontent.com/u/280319558/images/decal-icon.png", class: "img-responsive img-division" %>
      </div>
      <div class="col-sm-8 col-md-7 col-md-offset-1">
        <h3>Course</h3>
        <p>We are partnered with the Web Development for Nonprofits DeCal. This course aims to teach students web technologies by working on real-world projects with nonprofit and social-sector partners. We hope that this course will attract computer scientists with less experience to contribute their skills to the nonprofit space. If you are interested in the DeCal, you can learn more at <%= link_to "www.webdevfornonprofits.org", "http://www.webdevfornonprofits.org/", target: "_blank" %>.</p>
      </div>
      <div class="col-sm-4 col-md-3 hidden-xs">
        <%= image_tag "https://dl.dropboxusercontent.com/u/280319558/images/decal-icon.png", class: "img-responsive img-division" %>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="events">
  <div class="container">
    <h2>Events</h2>
    <h3 class="subheader">Upcoming Events</h3>
    <% if @upcoming_events.length == 0 %>
      <p class="message">There are currently no upcoming events.</p>
    <% end %>
    <% @upcoming_events.each do |upcoming_event| %>
      <%= render 'pages/event', :event => upcoming_event %>
    <% end %>
    <h3 class="subheader">Past Events</h3>
    <% @past_events.each do |past_event| %>
      <%= render 'pages/event', :event => past_event %>
    <% end %>
  </div>
</div>
