<div class="section hero">
  <div class="container">
    <%= image_tag("/assets/code-the-change-logo-with-text.png", class: "img-responsive") %>
    <p class="lead">We help computer scientists use their skills to make social change an integral part of computer science culture.</p>
  </div>
</div>

<div class="section events">
  <div class="container">
    <h2>Events</h2>
    <h3 class="subheader">Upcoming Events</h3>
    <div class="panel-group ctc-panel-group" id="upcoming-event-accordion">
      <% @upcoming_events.each do |upcoming_event| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#upcoming-event-accordion" href="<%= '#' + upcoming_event.id.to_s() %>">
              <h4 class="panel-title"><%= upcoming_event.title %></h4>
              <p><%= upcoming_event.start.strftime("%A, %B %d") %> | <%= upcoming_event.start.strftime("%I:%M%p") %> to <%= upcoming_event.end.strftime("%I:%M%p") %> | <%= upcoming_event.location %></p>
            </a>
          </div>
          <div id="<%= upcoming_event.id %>" class="panel-collapse collapse">
            <div class="panel-body">
              <%= upcoming_event.description %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <h3 class="subheader">Past Events</h3>
    <div class="panel-group ctc-panel-group" id="past-event-accordion">
      <% @past_events.each do |past_event| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#past-event-accordion" href="<%= '#' + past_event.id.to_s() %>">
              <h4 class="panel-title"><%= past_event.title %></h4>
              <p><%= past_event.start.strftime("%A, %B %d") %> | <%= past_event.start.strftime("%I:%M%p") %> to <%= past_event.end.strftime("%I:%M%p") %> | <%= past_event.location %></p>
            </a>
          </div>
          <div id="<%= past_event.id %>" class="panel-collapse collapse">
            <div class="panel-body">
              <%= past_event.description %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
