<% title "Projects" %>
<% description "The Berkeley chapter focuses on forming project teams to assist non-profits in achieving their goals, whether it be through web development or mobile app design." %>

<div class="projects">
  <div class="container">
    <h2>Projects</h2>
    <% @terms.each do |term| %>
      <h3 class="subheader"><%= term.season + " " + term.year.to_s %></h3>
      <div class="panel-group ctc-panel-group" id=<%= term.id.to_s + "-accordion" %>>
        <% term.projects.each do |project| %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <a data-toggle="collapse" data-parent=<%= "#" + term.id.to_s + "-accordion" %> href="<%= '#' + project.id.to_s %>">
                <h4 class="panel-title"><%= project.organization %></h4>
              </a>
            </div>
            <div id="<%= project.id %>" class="panel-collapse collapse">
              <div class="panel-body">
                <%= project.description %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>