<div class="breadcrumbs">
  <div class="container">
    <ol class="breadcrumb">
      <li><%= link_to "Admin", admin_path %></li>
      <li><%= link_to "Assignments", admin_assignments_path %></li>
      <li class="active">Assignment</li>
    </ol>
  </div>
</div>

<div class="section">
  <div class="container">
    <h3>Assignment Details</h3>

    <p>
      <strong>Title:</strong>
      <%= @assignment.title %>
    </p>
     
    <p>
      <strong>URL:</strong>
      <%= @assignment.url %>
    </p>

    <%= link_to 'Back', admin_assignments_path %> | <%= link_to 'Edit', edit_admin_assignment_path(@assignment) %>
  </div>
</div>