<header class="navbar navbar-inverse navbar-fixed-top ctc-navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <nav class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
        <li class="<%= 'active' if current_page?(about_path) %>"><%= link_to "About", about_path %></li>
        <li class="<%= 'active' if current_page?(projects_path) %>"><%= link_to "Projects", projects_path %></li>
        <li class="<%= 'active' if current_page?(course_path) %>"><%= link_to "Course", course_path %></li>
      </ul>
      <% if admin_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li class="<%= 'active' if current_page?(admin_events_path) %>"><%= link_to "Events", admin_events_path %></li>
              <li class="<%= 'active' if current_page?(admin_officers_path) %>"><%= link_to "Officers", admin_officers_path %></li>
              <li class="<%= 'active' if current_page?(admin_projects_path) %>"><%= link_to "Projects", admin_projects_path %></li>
              <li class="<%= 'active' if current_page?(admin_lessons_path) %>"><%= link_to "Lessons", admin_lessons_path %></li>
              <li class="<%= 'active' if current_page?(admin_assignments_path) %>"><%= link_to "Assignments", admin_assignments_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Sign out", destroy_admin_session_path, :method => :delete %></li>
            </ul>
          </li>
        </ul>
      <% end %>
    </nav>
  </div>
</header>
